@use '../mixins/mixins' as *;

.game {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 150px);
	justify-items: center;
	align-items: center;
	align-content: center;
	max-width: rem(482px);
	padding: 75px 5px;
	background: url('/images/bg-triangle.svg') no-repeat 50% 50% / 50%;
  
	@media screen and (min-width: 1366px) {
    grid-template-rows: repeat(2, rem(210px));
		padding: 0;
    align-items: flex-start;
		padding-top: 40px;
		column-gap: 60px;
		row-gap: 10px;
    background: url('/images/bg-triangle.svg') no-repeat 50% 65% / 60%;
	}
  
	&__option {
    @include size(rem(130px));
		@include flex(center, center);
		position: relative;
		grid-row: 1;
		max-width: rem(203px);
		border-radius: 50%;
    font-size: 5px;
    
		@media screen and (min-width: 1366px) {
			@include size(rem(200px), rem(200px));
      font-size: 7px;
		}

		&::before {
			@include size(100%, 100%);
			@include absolute(0, 0, 0, 0);
			content: '';
			border-radius: inherit;
			background: inherit;
			z-index: 0;
		}

		&--paper {
			grid-column: 1;
			&::before {
				background: var(--primary-paper);
				box-shadow: 0 1em 0 hsla(230, 66%, 45%);
			}
			@media screen and (min-width: 1366px) {
				justify-self: flex-start;
			}
		}
		&--scissors {
			grid-column: 2;
			&::before {
				background: var(--primary-scissor);
				box-shadow: 0 1em 0px hsla(28, 75%, 45%);
			}
			@media screen and (min-width: 1366px) {
				justify-self: flex-end;
			}
		}
		&--rock {
			grid-column: 1 / span 2;
			grid-row: 2;
			&::before {
				background: var(--primary-rock);
				box-shadow: 0 1em 0px hsla(349, 77%, 35%);
			}
			@media screen and (min-width: 1366px) {
				align-self: flex-end;
			}
		}
	}
	&__button {
		@include size(78%, 78%);
		@include flex(center, center);
		border-radius: 50%;
		background-color: #e4e4e4;
		box-shadow: inset 0 5px 0 hsla(217, 16%, 45%, 25%);
		position: relative;
		z-index: 1;
    @media screen and (min-width: 1366px) {
      box-shadow: inset 0 7px 0 hsla(217, 16%, 45%, 25%);
    }
	}
	&__svg {
		@include size(55%, 55%);
		position: relative;
		z-index: 2;
		&--rock {
			@include size(45%, 45%);
		}
	}
}
