@use '../mixins/mixins' as *;

.game {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 150px);
	justify-items: center;
	align-items: center;
	padding: 75px 5px;
	background: url('/images/bg-triangle.svg') no-repeat 50% 50% / 50%;

	&__option {
		@include size(rem(130px));
    @include flex(center, center);
    max-width: rem(203px);
		border-radius: 50%;
    position: relative;
    grid-row: 1;

    &::before {
      @include size(100%, 100%);
      @include absolute(0, 0, 0, 0);
      content: '';
      border-radius: inherit;
      background: inherit;
      z-index: 0;
    }
    
		&--paper {
      grid-column: 1;
      &::before {
        background: var(--primary-paper);
        box-shadow: 0 5px 0 hsla(230, 66%, 45%);
      }
		}
		&--scissors {
			grid-column: 2;
      &::before {
        background: var(--primary-scissor);
        box-shadow: 0 5px 0px hsla(39, 78%, 44%);
      }
		}
		&--rock {
			grid-column: 1 / span 2;
			grid-row: 2;
      &::before {
        background: var(--primary-rock);
        box-shadow: 0 5px 0px hsla(349, 77%, 35%);
      }
		}
	}
	&__button {
		@include size(75%, 75%);
    @include flex(center, center);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 5px 0 rgba($color: #000000, $alpha: 0.1);
    position: relative;
    z-index: 1;
	}
	&__svg {
    @include size(55%, 55%);
    position: relative;
    z-index: 2;
		&--rock {
			@include size(45%, 45%);
		}
	}
}
