@use '../mixins/mixins' as *;

$logo-width: rem(50px * 1.63);
$logo-height: rem(50px);
$header-spacing:  0 auto 20px auto;
$logo-spacing: rem(23px) rem(19px) rem(19px);
$spacing-score: rem(10px);
$body-padding-top: rem(30px);

:root {
  --header-spacing: #{$header-spacing};
  --header-border-radius: #{rem(6px)};
  --header-max-width: #{rem(313px)};
  --logo-width: #{$logo-width};
  --logo-height: #{$logo-height};
  --logo-spacing: #{rem(23px) rem(19px) rem(19px)};
  --spacing-score: #{$spacing-score};
  --body-padding-top: #{$body-padding-top};
}

@media screen and (min-width: 1366px) {
  :root {
    --header-max-width: #{rem(705px)};
    --header-border-radius: #{rem(17px)};
    --logo-width: calc(#{$logo-width} * 2);
    --logo-height: calc(#{$logo-height} * 2);
    --logo-spacing: #{rem(26px) rem(27px) rem(19px)};
    --spacing-score: #{rem(16px) rem(25px)};
    --body-padding-top: calc(#{$body-padding-top} * 1.5);
  }
}
html,
body {
  @include size(100%, 100%);
  min-height: 100%;
  font-size: var(--font-size-body);
}

body {
  @include flex(center, flex-start, column);
  color: #fff;
  background: var(--background-gradient);
  font-size: var(--font-size-body);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  padding-top: var(--body-padding-top);

}

.header {
  @include size(100%, auto);
  @include flex(center, space-between);
  max-width: var(--header-max-width);
  border: rem(3px) solid var(--neutral-header);
  border-radius: var(--header-border-radius);
  margin: var(--header-spacing);

  &__logo {
    @include flex(center, flex-start);
    @include size(var(--logo-width), var(--logo-height));
    margin: var(--logo-spacing);
  }

  &__score {
    margin: var(--spacing-score);
  }
}

.main {
  @include size(100%, auto);
  @include flex(center, center);
  @media screen and (min-width: 1366px) {
    height: 100%;
  }
}

.footer {
  @include size(100%, 100%);
  @include flex(center, center);

  @media screen and (min-width: 1366px) {
    height: auto;
    justify-content: flex-end;
    margin: 0 62px 30px 0;
  }
  &__button {
    border: rem(2px) solid var(--neutral-header);
    border-radius: rem(10px);
    padding: 13px 36px 11px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: rem(2px);
    &:hover {
      cursor: pointer;
    }
  }
}

.attribution {
  @include absolute(auto, auto, 5px, auto);
  color: var(--primary-blue);
  font-size: rem(12px);
  font-weight: 400;
  opacity: 0.5;
  a {
    color: var(--primary-blue);
    &:hover {
      color: var(--primary-red);
    }
  }
}